body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

button {
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.9;
}