/* --------- GLOBAL STYLES --------- */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #0f0e0e;
  color: #222;
}

h1, h2, h3, p {
  margin: 0;
}

button {
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.85;
}