.horizontal-row {
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  padding-bottom: 10px;
}

.horizontal-row::-webkit-scrollbar {
  height: 8px;
}

.horizontal-row::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.horizontal-row::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.project-card {
  min-width: 260px; /* obligatoire pour forcer une vraie ligne horizontale */
}
